// CSS Code for BODY using the FONT MAP here!!!//
.menu{
    background: rgb(122, 122, 122);
    color: white;

    margin: 0;
    padding: 10px;


    #menu-logo{
        margin-left: 10px;
    }

    #menu-cart{
        position: absolute;
        right: 10px;
        top: 9px;
    }
}