//SASS for main-grid

.main-grid{
    display: grid;
    grid-template-columns: 1fr minmax(30em, 5fr) minmax(15em, 2fr) 1fr;
    grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    ". main sidebar ."
    "footer footer footer footer"
}

.hero{
    grid-area: hero;
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.sidebar{
    grid-area: sidebar;
}

.footer{
    grid-area: footer;
}