@charset "UTF-8";
@import url(https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
/*general styling*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html,
header,
footer,
body,
nav,
div,
img,
a,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none; }

/* Inga l├ñnkar skall vara understrukna och att den ska inherita f├ñrgen s├Ñ den inte ├ñr bl├Ñ eller n├Ñgot annat fult */
a:link {
  text-decoration: none;
  color: inherit; }

a:visited {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: none;
  color: inherit; }

a:active {
  text-decoration: none;
  color: inherit; }

body {
  max-width: 1280px;
  background: #48A7F5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #48A7F5 0%, #f5f5f5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48A7F5), color-stop(100%, #f5f5f5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #48A7F5 0%, #f5f5f5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #48A7F5 0%, #f5f5f5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #48A7F5 0%, #f5f5f5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #48A7F5 0%, #f5f5f5 100%);
  /* W3C */
  margin: auto;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

.denver-post {
  width: 100%;
  border-bottom: #282828 solid 10px;
  margin: auto; }

.denver-post h1 {
  font-size: 7.1vw;
  text-align: center;
  color: #f5f5f5; }

.ski-holiday-resort {
  border: 1px solid #282828;
  text-align: center;
  width: 100%;
  color: #f5f5f5; }

.ski-holiday-resort h3:nth-child(1) {
  border-bottom: 2px solid #282828;
  padding: 10px;
  width: 75px;
  margin: auto; }

.ski-holiday-resort h3:nth-child(3) {
  border-top: 2px solid #282828;
  padding: 10px;
  width: 75px;
  margin: auto; }

.ski-holiday-resort h1 {
  font-style: italic; }

.small-add {
  padding-top: 10px; }

.article-header p {
  font-size: 6.5vw;
  color: #282828;
  text-align: center;
  padding: 0;
  margin: 0; }

.article-header h3 {
  color: #282828;
  text-align: center;
  padding: 0;
  margin: 0; }

.page-text p {
  color: #282828;
  margin: auto; }

.page-text button {
  background: none;
  border: 1px solid #282828;
  width: 100%;
  padding: 20px;
  margin: auto; }

.article-body {
  padding: 10px 0 10px 0; }

.hero-image {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/rockies.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  border: 20px solid #333; }
  .hero-image .text-inside {
    padding: 10px; }
    .hero-image .text-inside h5 {
      border-bottom: 1px solid #282828; }
    .hero-image .text-inside h2 {
      font-size: 6.2rem; }
    .hero-image .text-inside .white-text {
      color: white; }

.community .text-above {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; }
.community .text-above h2:nth-child(2) {
  font-style: italic; }
.community .images img {
  width: 100%;
  height: auto; }
.community .grid-items {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-gap: 20px; }

@media (min-width: 46.875em) {
  .community .grid-items {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 20px; }

  .article-header p {
    text-align: right; }

  .article-header h3 {
    color: #282828;
    text-align: right;
    padding: 0 30px 0 0;
    margin: 0; }

  .article-body {
    padding-left: 20px; } }
.page-footer {
  padding-top: 25px; }

.footer {
  padding: 20px;
  background: #eeeeee; }
  .footer .title-above p {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #282828; }
  .footer .grid-items {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 48% 48%; }
  .footer ul li {
    padding: 3px; }

@media (min-width: 46.875em) {
  .footer .grid-items {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 20px; } }
@media (min-width: 75em) {
  .page-footer {
    padding-top: 0px;
    display: grid; }

  .footer .grid-items {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0; } }
@media (min-width: 46.875em) {
  .main-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: "header header header header header" "skibox skibox skibox skibox skibox" "contentTitle contentTitle contentText contentText contentText" "hero hero hero hero hero" "gallery gallery gallery gallery gallery" "footer footer footer footer footer"; }

  .page-introduction {
    grid-area: header; }

  .small-add {
    grid-area: skibox; }

  .article-header {
    grid-area: contentTitle; }

  .article-body {
    grid-area: contentText; }

  .hero-image {
    grid-area: hero; }

  .community {
    grid-area: gallery;
    display: flex; }

  .page-footer {
    grid-area: footer; } }
@media (min-width: 52.5em) {
  .main-grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-areas: "header header header header header header header header header header" "skibox skibox contentTitle contentTitle contentTitle contentTitle contentTitle contentTitle contentTitle contentTitle" "hero hero hero hero hero hero hero contentText contentText contentText" "gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery" "footer footer footer footer footer footer footer footer footer footer"; }

  .page-introduction {
    grid-area: header; }

  .small-add {
    grid-area: skibox; }

  .article-header {
    grid-area: contentTitle;
    align-self: flex-end; }

  .article-body {
    grid-area: contentText; }

  .hero-image {
    grid-area: hero; }

  .community {
    grid-area: gallery;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-gap: 20px; }

  .page-footer {
    grid-area: footer; } }
@media (min-width: 75em) {
  .main-grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-areas: "header header header header header header header header header header" "skibox skibox skibox contentTitle contentTitle contentTitle contentTitle contentTitle contentTitle contentTitle" "footer footer hero hero hero hero hero hero contentText contentText" "footer footer gallery gallery gallery gallery gallery gallery gallery gallery"; }

  .page-introduction {
    grid-area: header; }

  .small-add {
    grid-area: skibox; }

  .article-header {
    grid-area: contentTitle; }

  .article-body {
    grid-area: contentText; }

  .hero-image {
    grid-area: hero; }

  .community {
    grid-area: gallery;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 20px; }

  .page-footer {
    grid-area: footer; } }
@media (min-width: 87.5em) {
  .main-grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-areas: "header header header header header header header header header header" "skibox skibox skibox . contentTitle contentTitle contentTitle contentTitle contentTitle contentTitle" "footer footer hero hero hero hero hero hero contentText contentText" "footer footer gallery gallery gallery gallery gallery gallery gallery gallery"; }

  .page-introduction {
    grid-area: header; }

  .small-add {
    grid-area: skibox; }

  .article-header {
    grid-area: contentTitle; }

  .article-body {
    grid-area: contentText; }

  .hero-image {
    grid-area: hero; }

  .community {
    grid-area: gallery;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 20px; }

  .page-footer {
    grid-area: footer; } }

/*# sourceMappingURL=styles.css.map */
